*{
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 100px;
}

.container1{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.container2{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.container3{
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.container4{
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}


.menu{
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.logo{
    display: inline-block;
    margin-top: 20px;
}

.menu__main{
    display: flex;
}

.menu__title{
    font-size: 14px;
    color: #4f4f4f;
    margin-top: 30px;
    margin-left: 10px;
}

.menu__info{
    display: flex;
    justify-content: space-between;
    min-width: 560px;
}

.menu__contacts{
    color: #4f4f4f;
    margin-top: 18px;
}

.menu__contacts span{
    margin-left: 5px;
}

.menu__contacts-tel{
    color: #4f4f4f;
}

.menu__contacts-tel a{
    margin-left: 5px;
    text-decoration: none;
    color: #4f4f4f;
}

.menu__contacts-icon{
    color: #f15923;
    position: absolute;
    font-size: 19px;
    margin-top: -5px;
    margin-left: 5px;
}

.menu__button{
    margin-top: 30px;
}

.menu__btn{
    text-decoration: none;
    background-color: #f15923;
    color: #fff;
    text-transform: uppercase;
    padding: 15px 12px;
    font-weight: 700;
    border-radius: 10px;
}

.menu__language{
    color: #4f4f4f;
    margin-top: 30px;
}

.menu__language i{
    font-size: 12px;
}

.menu__language a{
    text-decoration: none;
    color: #4f4f4f;
}

.nav{
    width: 100%;
    background-color: #1cb0e7;
}

.nav__items{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.nav__items a{
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 21px;
    padding-bottom: 3px;
    transition: border .1s linear;
}

.nav__items a:hover{
    border-bottom: 3px solid #fff;
}

.nav__items-icon{
    color: #f15923;
    font-size: 24px;
    margin-top: -15px;
    margin-left: 10px;
    cursor: pointer;
}

.breadcrums{
    margin-top: 30px;
}

.breadcrum__home-icon{
    color: #c3c3c3;
    margin-right: 5px;
    margin-left: 3px;
}

.breadcrum__home{
    color: #c3c3c3;
    text-decoration: none;
    font-size: 17px;
    margin-right: 5px;
}

.breadcrum__arrow{
    width: 25px;
    margin-right: 5px;
}

.breadcrum__current{
    font-size: 17px;
    text-decoration: none;
    color: #4f4f4f;
}

.breadcrum__home:hover,
.breadcrum__current:hover{
    text-decoration: underline;
}

.knowledge__base-title{
    color:#4f4f4f;
    font-weight: 700;
    font-size: 40px;
    margin-top: 20px;
}

.knowledge__base-title::after{
    content: "";
    background-color:#f68f6a;
    width: 243px;
    height: 6px;
    display: block;
}

.knowledge__base-suptitle{
    color:#646464;
    font-weight: 500;
    font-size: 24px;
    margin-top: 35px;
    margin-bottom: 20px;
    text-align: center;
}

main{
    margin-bottom: 200px;
}

